body {
    background-color: #eaf6f6;
}

hr {
    background-color: none; 
    /*
    NOTE: if trying to add a background color and it doesn't apply (when there is little done with CSS, it is possible the BROWSER is the cause since it applies a default, simplistic, css.  
    To locate it: "search browser default css"
        often will show elements and default CSS values
    to change the background color, do this:
    */
     /* override the default value.  
    Disappeared because the "box" disappeared (below)  */
    
    border-top: 6px;
    border-style: dotted none none none;
    border-color: grey;
    height: 0px;
    width: 10%;
}

td.skill {
    padding-right: 150px;
    align-content: center;
} 