body {
    background-color: #eaf6f6;
}

body.construction {
    background-color: seagreen;
}

img.profile {
    border-radius: 50%;
    height: 80%;
    width: 80%;
}

h1, h3 {
    color: #66bfbf; /* the comman tells CSS it is two different things */
}

h3.pages {
    padding: 10px 0px 10px 60px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1.construction {
    border: 4px solid #8c8c8c;
    border-block: 1px;
    border-radius: 20px;
    border-width: 50%;
    color: white;
    display: block;
    height: 50%;
    margin: 30% auto auto auto;
    text-align: center;
    width: 30%;
}

hr {
    background-color: none; 
    /*
    NOTE: if trying to add a background color and it doesn't apply (when there is little done with CSS, it is possible the BROWSER is the cause since it applies a default, simplistic, css.  
    To locate it: "search browser default css"
        often will show elements and default CSS values
    to change the background color, do this:
    */
     /* override the default value.  
    Disappeared because the "box" disappeared (below)  */
    border-color: grey;
    border-top: 6px;
    border-style: dotted none none none;
    height: 0px;
    width: 10%;
}

form {
    text-align: center;
}

td.skill {
    align-content: center;
    padding-right: 150px;
} 